@import url("https://fonts.googleapis.com/css2?family=Goldman:wght@700&display=swap");

html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
    but can be over-ridden as needed */
  box-sizing: inherit;
  font-family: "Goldman", cursive;
}

/* resets font size to be 62.5% of the user preference -
  in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  /* Use a system font, if none are available use an available sans-sarif   font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  background: url(https://jkhub.org/screenshots/monthly_01_2018/67de82e1142d50d165e7e6b6ca33dba6-shot0006.jpg);
  margin: 0;
  padding: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width: 800px;
  max-width: 80%;
  border-radius: 6px;
  background-color: rgb(0, 0, 0);
  padding: 10px;
  border: 5px solid #fff;
  box-shadow: 0 0 20px 5px white;
}

.result-head {
  font-size: 26px;
  color: #FFF;
  margin-bottom: 10px;
}
#img-container {
text-align: center;
}
#question {
  margin-bottom: 50px;
  font-weight: bold;
  line-height: 27px;
  color:#FFF;
  font-size:4rem;
}

.result-text{
  color:#FFF;
  font-size:3rem;
}
.amount {
  font-weight: bold;
}
.question-number {
  margin-bottom:20px;
  color:#FFF;
  font-size:3rem;
}

.question-number::after {
  content:'';
  display:block;
  width:100%;
  border:1px solid #FFF;
}

#questionContainer {
  margin-top:20px;
}

.answer-btn {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

button.btn {
  font-size: 3rem;
  padding: 5px 5px;
  border: 5px solid;
  cursor: pointer;
}
.next-btn, .start-btn{
  font-size: 4rem;
  background-color: #fff;
  cursor: pointer;
  padding:5px 20px;
  border: 5px solid;
}
.next-btn:focus{
  outline: none;

}
.next-btn:hover {
  border-color:red;
}
.start-btn:focus{
  outline: none;

}
.start-btn:hover {
  border-color:red;
}
.button-container {
  display:flex;
  justify-content: center;
  align-items:center;
}
.btn.correct {
 background-color:lime;
}

.btn.wrong {
  background-color:red;
}

button.btn:hover {
  border-color: red;
}

button.btn:focus {
  outline: none;
}
/*Prevent multiclicking the buttons*/
.no-click {pointer-events: none;}

.hide {
  display: none;
}


