@import url("https://fonts.googleapis.com/css2?family=Goldman:wght@700&display=swap");

html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
    but can be over-ridden as needed */
  box-sizing: inherit;
  font-family: "Goldman", cursive;
}

/* resets font size to be 62.5% of the user preference -
  in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
  --correct-color: lime;
  --wrong-color: red;
}

body {
  /* Use a system font, if none are available use an available sans-sarif   font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  background: url(https://jkhub.org/screenshots/monthly_01_2018/67de82e1142d50d165e7e6b6ca33dba6-shot0006.jpg);
  margin: 0;
  padding: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.question-text {
  font-size: 4rem;
  color: #fff;
}
.container {
  width: 800px;
  max-width: 80%;
  border-radius: 6px;
  background-color: rgb(0, 0, 0);
  padding: 10px;
  border: 5px solid #fff;
  box-shadow: 0 0 20px 5px white;
}
/* .icon {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  font-size: 4rem;
  color: rgb(255, 0, 0);
} */
.answer-btn {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}
.answer {
  font-size: 3rem;
  padding: 5px 10px;
  background-color: #fff;
  border: 5px solid;
  cursor: pointer;
}
.next-btn {
  font-size: 4rem;
  background-color: #fff;
  cursor: pointer;
  padding:5px 20px;
  border: 5px solid;
}
.next-btn:focus{
  outline: none;

}
.next-btn:hover {
  border-color:yellow;
}
.button-container {
  display:flex;
  justify-content: center;
  align-items:center;
}

.answer:hover {
  border-color: yellow;
}

.answer:focus {
  outline: none;
}

.answer.wrong {
  --background-color: var(--wrong-color);
}
.answer.correct {
  --background-color: var(--correct-color);
}
