body {
  background: url(https://jkhub.org/screenshots/monthly_01_2018/67de82e1142d50d165e7e6b6ca33dba6-shot0006.jpg);
  width: 100%;
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: #fff;
}
.container {
  display:flex;
  margin:0 auto;
  flex-direction: column;
  width: 60%;
  background-color:#000;
  border: 6px solid #FFF;
}

.answer-container {
  display: flex;
  width: 60%;
flex-direction: row;
  border-radius: 5px;
  background-color: red;
  margin-bottom: 1rem;
  font-size: 3rem;
}

.answer-container:hover {
  cursor: pointer;
  box-shadow: 0 0.7rem 0.7rem 0 rgba(255, 0, 0, 0.5);
  transform: scale(1.03);
  transform: transform 100ms;
}

#quizDisplay {
  display: flex;
  justify-content: space-between;
}
#quizBar {
  width: 30rem;
  height: 3rem;
  border: 0.5rem solid red;
  border-radius: 5rem;
  margin-top: 2rem;
  overflow: hidden;
}
#quizBarComplete {
  height: 100%;
  background-color: red;
  width: 0%;
}
.quiz-material {
  text-align: center;
  font-size: 2.5rem;
}

.quiz-result-text {
  text-align: center;
}

.answer-choice {
  color: #fff;
  padding: 2rem 2.8rem;
}
.answer-text {
  width: 100%;
  padding: 1.8rem;
}
.correct {
  background-color: lime;
}
.icon {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  font-size: 5rem;
  color: rgb(255, 0, 0)
}
@media screen and (max-width: 768px) {
  .answer-container {
    min-width: 40rem;
  }
}
