@import url("https://fonts.googleapis.com/css2?family=Goldman:wght@700&display=swap");

html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
    but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference -
  in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  /* Use a system font, if none are available use an available sans-sarif   font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-family: "Goldman", cursive;
  margin: 0;
  padding: 0;
}
#container {
  width: 100%;
  height: 100vh;
  background: url(https://wallpaperaccess.com/full/957416.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.title {
  width: 100%;
  background-color: rgb(232, 119, 119);
  position: absolute;
  top: 400px;
  border: 8px solid #000;
}
h1 {
  font-size: 5rem;
  text-align: center;
}
.container-start {
  text-align: center;
}
.start-button {
  width: 250px;
  height: 50px;
  font-family: "Goldman", cursive;
  font-size: 2rem;
  border: 3px solid #000;
  cursor: pointer;
  text-decoration: none;
  color:#000;
  background-color: white;
}
.start-button:hover {
  background-color: #000;
  text-decoration: none;
}
button:focus {
  outline: 0;
}
.text {
  font-size: 2rem;
  text-align: center;
}
.icon {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  font-size: 5rem;
  color: rgb(232, 119, 119);
}

@media screen and (max-height: 1080px) {
  .title{
    top:350px;
  }
}